[tool.poetry]
name = "sshared"
version = "0.5.0"
description = "后端共享组件"
authors = ["yezi <yehaowei20060411@qq.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/FHU-yezi/sshared"
classifiers = [
    "Development Status :: 4 - Beta",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3 :: Only",
    "Typing :: Typed"
]

[tool.poetry.dependencies]
python = "^3.8"
msgspec = "^0.18.0"
typing-extensions = "^4.12.0"
motor = { version ="^3.3.0", optional = true }
litestar = { version ="^2.9.0", optional = true }

[tool.poetry.group.dev.dependencies]
ruff = "^0.4.0"
pyright = "^1.1.0"

[tool.poetry.extras]
mongo = ["motor"]
api = ["litestar"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]

target-version = "py38"

lint.select = [
    "A", "ANN", "ARG", "ASYNC", "B",
    "BLE", "C4", "E", "F", "I",
    "ICN", "ISC", "N", "PERF", "PIE",
    "PT", "Q", "RET", "RSE", "RUF",
    "S", "SIM", "SLOT", "TCH", "UP",
    "W"
]
lint.ignore = ["ANN101", "ANN102", "ISC001", "RUF001", "RUF002", "RUF003"]

[tool.ruff.lint.per-file-ignores]

"__init__.py" = ["F401"]